.read-next {
    border: 3px solid #ededed;
    border-radius: 10px;
    font: normal 16px/1 Ubuntu, sans-serif;
    padding: 0 15px;
    width: 590px;
}

.read-next a,
.read-next a:visited,
.read-next a:active,
.read-next a:hover {
    color: #005689;
    text-decoration: none;
}

.read-next ul {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.read-next ul li {
    float: left;
    margin-right: 10px;
    width: 140px;
}

.read-next ul li.last {
    margin-right: 0;
}

.read-next h2 {
    text-align: center;
}

.read-next h3 {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    text-align: center;
}