{% extends 'base.html' %}

{% block content %}
{% if feeds %}
<div class="eight-col read-next">
  <div class="hd">
    {% for feed in feeds %}
    <div class="page{% if not loop.first %} hidden{% endif %}">
      <h2>{{ feed.title }}</h2>
      <ul>
        {% for article in feed.articles %}
        <li>
          <a href="{{ article.url }}" title="{{ article.title|safe }}">
            {% if article.thumbnail %}
            <img src="{{ article.thumbnail }}">
            {% else %}
            <img src="http://placekitten.com/g/140/84">
            {% endif %}
            <h3>{{ article.title|safe }}</h3>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
{% endblock content %}